a::selection  { background-color: #ac6137;
  color: #ffffff;}


audio {
  border: 2.5px solid #702727;
  background-color: #da8f4d;
border-radius: 10px;}
body {  background-image: url(media/kkclear.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;
  background-color: #F3F3F3;
  font-family: 'Short Stack', cursive;
  color: #440f0f;
  min-height: 780px;
}

button, button:hover {background-color: #da8f4d;
border: 3px solid #682424;
position: absolute;
top: 355px;
color: #440f0f;
padding: 15px 25px;
border-radius: 4px;
 }

 button:active {margin-top: 2px;
  border: 3px solid #682424;}

  
footer a, footer a:active {color: #633408;}

footer a:hover {text-decoration: none;
color: #6d5238;}


footer {margin-top: 318px;
  font-size: 18px;}

footer .credit {margin-top: 5px;
font-size: 14px;}

footer::selection, p::selection { background-color: #ac6137;
  color: #ffffff;}
  
.container {display: flex;
align-items: center;
justify-content: center;}



.Header header {background-image: url(media/kk\ header.png);
  background-repeat: no-repeat;
  background-position-y: -175px;
  max-height: 210px;
min-width: 2200px;
position: fixed;
left: -200px;
z-index: 1;
box-shadow: 0px 4px 6px #f8e7c7;}

.Header header .backdrop {  min-height: 106px;
  opacity: 42%;
  min-width: 2200px;
z-index: -1;
background-color: #f1e3e3;
position: relative;
top: -41px;
}
.Header header h1 {font-size: 90pt;
  color: #da8f4d;
  position: relative;
  user-select:none;
  top: 90px;
  letter-spacing: 55px;
  margin-right: 150px;
text-shadow: 1px 1px 0px #682424,
-1px -1px 0px #682424,
2px 2px 0px #682424,
-2px 2px 0px #682424,
-3px 3px 8px #000000;}

.smallHeader header {background-image: url(media/kk\ headerSmall.jpg);
  background-repeat: no-repeat;
  background-position-y: -60px;
  left: -210px;
  min-height: 100px;
max-width: 800px;
position: fixed;
top: 0;
z-index: 0;
box-shadow: 0px 4px 6px #f8e7c7;}

.smallHeader header .backdrop {  max-height: 80px;
  min-height: 35px;
  opacity: 40%;
  min-width: 2200px;
z-index: -1;
background-color: #f1e3e3;
position: relative;
top: 62px;

}
.smallHeader header h1 {font-size: 32pt;
  letter-spacing: 6px;
  color: #da8f4d;
  position: absolute;
  z-index: 2;
  top: 55px;
  margin-left: 222px;
text-shadow: 1px 1px 0px #682424,
-1px -1px 0px #682424,
2px 2px 0px #682424,
-2px 2px 0px #682424,
-2px -2px 0px #682424,
-4px 4px 8px #000000;}

.tabletHeader header {background-image: url(media/kk\ header.png);
  background-repeat: no-repeat;
  background-position-y: -130px;
  left: -410px;
  max-height: 200px;
max-width: 800px;
position: fixed;
top: 0;
z-index: 0;
box-shadow: 0px 4px 6px #f8e7c7;}

.tabletHeader header .backdrop {  max-height: 100px;
  min-height: 95px;
  opacity: 40%;
  min-width: 2200px;
z-index: -1;
background-color: #f1e3e3;
position: relative;
top: -14px;
}
.tabletHeader header h1 {font-size: 85pt;
  color: #da8f4d;
  position: relative;
  right: 95px;
 bottom: 270px;
  user-select:none;
  top: 110px;
  letter-spacing: 20px;
  margin-right: 155px;
  margin-top: -22px;
text-shadow: 1px 1px 0px #491a1a,
-1px -1px 0px #491a1a,
2px 2px 0px #491a1a,
-2px 2px 0px #491a1a,
-3px 3px 8px #000000;}

.app {  font-family: 'Short Stack', cursive;
  text-align: center;
max-width: 2000px;}



.bodyLtBlue {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(0deg, rgba(150,255,250,1) 0%, rgba(229,255,249,1) 50%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;
  color: #440f0f;

  }

.bodyBlack {background-image: url(media/kk\ black.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -1080px;
color: #ffffff;}

.bodyYellow {
background-image: url(media/kkclear.png);
background-color: #FFFE1C;
color: #205201;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;

}

.bodySepia {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(0deg, rgb(201, 141, 85) 0%, rgb(248, 221, 185) 100%);;
  background-repeat: no-repeat;
  color: #973636;
  background-attachment: fixed;
  background-position-y: bottom;
}

.bodyPinktoWhite {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(0deg, rgba(238,151,205,1) 0%, rgba(218,191,245,1) 50%, rgba(255,255,255,1) 100%);
color: #810072;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;  
}

  .bodyMagenta {background-image: url(media/kkclear.png);
    background-color: #F0018E;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;   
  }

  .bodyGreen {background-image: url(media/kkclear.png);
    background-image: url(media/kkclear.png), linear-gradient(0deg, #78C945 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
    color: #440f0f;}

    .bodyDarkGreen {background-image: url(media/kkclear.png);
      background-color: #14A609;
      color: #ffffff;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position-y: bottom;
    }

  .bodyGray {background-image: url(media/kkclear.png);
    background-color:#5F6163;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
}

.bodyRed {background-image: url(media/kkclear.png);
  background-color: #870114;
  background-repeat: no-repeat;
  color: #ffffff;
  background-attachment: fixed;
  background-position-y: bottom;}

    .bodyBrown{background-image: url(media/kkclear.png);
      background-color: #381D0D;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #f5ff99;
          background-position-y: bottom;}

      .bodyOrange {
        background-image: url(media/kkclear.png);
        background-image: url(media/kkclear.png), linear-gradient(0deg, #E85A1F 0%, #ffffff 100%);
        color: #440f0f;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom;
      }

      .bodyDarkBlue {   background-image: url(media/kkclear.png);
        background-color: #141F3A;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #ffffff;
        background-position-y: bottom;
      }

      .bodyPurple {   background-image: url(media/kkclear.png);
background-color: #562150;
color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom;
      }

      .bodyCerulean {background-image: url(media/kkclear.png);
        background-image: url(media/kkclear.png), linear-gradient(0deg, #149EBE 0%, rgba(255,255,255,1) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom;
        color: #111036;
      }

      .bodySnow  {background-image: url(media/kk\ snow.jpg);
        background-color: #F3F3F3;       
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 500px;
        background-position-y: -800px;
        color: #440f0f;
      }

  
.left {float: left;}

.leftArrow {position: absolute;
  left: 512px;
bottom: 215px;}

.leftArrow .topPoint {background-color: #381D0D;
  margin-top: 180px;
  border: 4px solid  #da8f4d;
min-height: 20px;
min-width: 60px;
transform: rotate(125deg);
 }

 .leftArrow .bottomPoint {background-color: #381D0D;
  margin-top: 10px;
  margin-left: 6px;
  border: 4px solid  #da8f4d;
min-height: 20px;
min-width: 60px;
transform: rotate(35deg);
 }

 .leftArrow .flat {background-color: #381D0D;
  margin-top: -36px;
  margin-left: 17px;
min-height: 20px;
max-width: 12px;
transform: rotate(35deg);}

.pcSearchSong {position: relative;
  top: 270px}
 .right {float: right;}

.rightArrow {position: absolute;
  right: 515px;
  bottom: 212px;}

      .rightArrow .topPoint {background-color: #381D0D;
        height: 100%;
        border: 4px solid  #da8f4d;
  min-height: 20px;
      max-height: 40px;
      min-width: 61px;
      transform: rotate(40deg);
       }
      
       .rightArrow .bottomPoint {background-color: #381D0D;
        margin-top: 9px;
position: relative;
left: 2px;
z-index: -1;
        border: 4px solid  #da8f4d;
      min-height: 20px;
      min-width: 61px;
      transform: rotate(130deg);
       }
       .rightArrow .flat {background-color: #381D0D;
        position: relative;
        top: 2px;
        margin-top: -27px;
        margin-left: 30px;
        z-index: 2;
      min-height: 22px;
      max-width: 12px;
      transform: rotate(40deg);}

       .Songinfo .songName {font-size: 40px;
        letter-spacing: 3px;
        white-space: nowrap;
        text-shadow: 1.5px 1.5px 0px #db8654,
        -1.5px -1.5px 0px #db9c54;
      position: relative;
    bottom: 45px;}

    .songName::selection {background-color: #ac6137;
      color: #ffffff;}
    
.Songinfo img {max-height: 260px;
max-width: 260px;
position: relative;
bottom: 40px;
border: 2px solid #5F6163;
}

.Songinfo audio {max-width: 262px;
position: relative;
bottom: 30px;}

.Songinfo .player {margin-bottom: 5px;}



.smallSearchSong .Songinfo img {max-height: 200px;
  max-width: 200px;
  border: 2px solid #5F6163;
  position: relative;
  bottom: 10px;
  }

  .smallSearchSong .Songinfo .songName {margin-top: 20px;
  position: relative;
bottom: 15px;}

  .smallSearchSong .container {position: relative;
  top: 130px}
  .smallSearchSong .leftArrow {position: absolute;
    left: 3px;
    bottom: 158px;}

    .smallSearchSong 
    .rightArrow {position: absolute;
      right: 5px;
      bottom: 158px;}


.smallSearchSong .songName {font-size: 30px;}

.smallSearchSong audio {max-width: 207px;
position: relative;
top: -8px;}

.smallSearchSong button {position: absolute;
 top: 320px;}

.smallFooter .backdrop {min-height: 180px;
min-width: 380px;
max-width: 400px;
background-color: #eed4b6;
opacity: 60%;
z-index: -1;
position: absolute;}
.tabletSearchSong {margin-top: 350px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  width: 1060px;
  margin-left: auto;
}
.tabletSearchSong .songName {font-size: 28px;
}

.tabletSearchSong .Songinfo img {max-height: 220px;
  max-width: 220px;
  border: 2px solid #5F6163;
  }
  .tabletSearchSong audio {max-width: 224px;}


.tabletSearchSong button {margin-top: -50px;}
.tabletFooter {position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
top: -112px;
}

.tabletSearchSong .leftArrow {position: absolute;
  left: 280px;
  bottom: 188px;}

  .tabletSearchSong 
  .rightArrow {position: absolute;
    right: 280px;
    bottom: 188px;}
