a::selection  { background-color: #ac6137;
  color: #ffffff;}


audio {
  border: 2.5px solid #702727;
  background-color: #da8f4d;
border-radius: 10px;}
body {  background-image: url(media/kkclear.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;
  background-color: #F3F3F3;
  font-family: 'Short Stack', cursive;
  color: #ffffff;
  min-height: 780px;
}

button, button:hover {background-color: #da8f4d;
border: 5px solid #682424;
font-weight: bold;
position: absolute;
top: 355px;
color: #440f0f;
z-index: 2;
padding: 15px 25px;
border-radius: 2px;
 }

 button:active {margin-top: 2px;
  border: 5px solid #682424;
  outline:none;
  border-radius: 2px;}

  
footer a, footer a:active {color: #633408;}

footer a:hover {text-decoration: none;
color: #6d5238;}


footer {margin-top: 318px;
  font-size: 18px;}

footer .credit {margin-top: 5px;
font-size: 14px;}

footer::selection, p::selection { background-color: #ac6137;
  color: #ffffff;}
  
.container {display: flex;
  z-index: -1;
  width: 40%!important;
  max-width: 40%!important;
  min-height: 460px!important;
  background-color: rgb(82, 52, 25, 0.90);
  border-radius: 2%;
align-items: center;
justify-content: center;}



.Header header {background-image: url(media/kk\ header.png);
  background-repeat: no-repeat;
  background-position-y: -175px;
  max-height: 210px;
min-width: 2200px;
position: fixed;
left: -200px;
z-index: 1;
box-shadow: 0px 4px 6px #f8e7c7;}

.Header header .backdrop {  min-height: 106px;
  opacity: 42%;
  min-width: 100%;
z-index: -1;
background-color: #f1e3e3;
position: relative;
top: -41px;
}
.Header header h1 {font-size: 90pt;
  color: #da8f4d;
  position: relative;
  user-select:none;
  top: 90px;
  letter-spacing: 55px;
  margin-right: 150px;
text-shadow: 1px 1px 0px #682424,
-1px -1px 0px #682424,
2px 2px 0px #682424,
-2px 2px 0px #682424,
-3px 3px 8px #000000;}

.smallHeader header {background-image: url(media/kk\ headerSmall.jpg);
  background-repeat: no-repeat;
  background-position-y: -60px;
  left: -210px;
  min-height: 100px;
  width: 100%;
max-width: 100%;
position: fixed;
top: 0;
z-index: 0;
box-shadow: 0px 4px 6px #f8e7c7;}

.smallHeader header .backdrop {  max-height: 80px;
  min-height: 35px;
  opacity: 40%;
  min-width: 100%;
z-index: -1;
background-color: #f1e3e3;
position: relative;
top: 62px;

}
.smallHeader header h1 {font-size: 33pt;
  letter-spacing: 6px;
  color: #da8f4d;
  position: absolute;
  z-index: 2;
  top: 55px;
  margin-left: 10%;
text-shadow: 1px 1px 0px #682424,
-1px -1px 0px #682424,
2px 2px 0px #682424,
-2px 2px 0px #682424,
-2px -2px 0px #682424,
-4px 4px 8px #000000;}

.tabletHeader header {background-image: url(media/kk\ header.png);
  background-repeat: no-repeat;
  background-position-y: -130px;
  left: -410px;
  max-height: 200px;
position: fixed;
top: 0;
z-index: 0;
box-shadow: 0px 4px 6px #f8e7c7;}

.tabletHeader header .backdrop {  max-height: 100px;
  min-height: 95px;
  opacity: 40%;
  min-width: 2200px;
z-index: -1;
background-color: #f1e3e3;
position: relative;
top: -14px;
}
.tabletHeader header h1 {font-size: 85pt;
  color: #da8f4d;
  position: relative;
  right: 95px;
 bottom: 270px;
  user-select:none;
  top: 110px;
  letter-spacing: 20px;
  margin-right: 155px;
  margin-top: -22px;
text-shadow: 1px 1px 0px #491a1a,
-1px -1px 0px #491a1a,
2px 2px 0px #491a1a,
-2px 2px 0px #491a1a,
-3px 3px 8px #000000;}

.app {  font-family: 'Short Stack', cursive;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
max-width: 2000px;}



.bodyLtBlue {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(0deg, rgba(150,255,250,1) 0%, rgba(229,255,249,1) 50%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;}

.bodyBlack {background-image: url(media/kk\ black.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -1080px;}

.bodyYellow {
background-image: url(media/kkclear.png);
background-color: #FFFE1C;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;}

.bodySepia {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(0deg, rgb(201, 141, 85) 0%, rgb(248, 221, 185) 100%);;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;}

.bodyPinktoWhite {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(0deg, rgba(238,151,205,1) 0%, rgba(218,191,245,1) 50%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;  }

  .bodyMagenta {background-image: url(media/kkclear.png);
    background-color: #F0018E;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;   }

  .bodyGreen {background-image: url(media/kkclear.png);
    background-image: url(media/kkclear.png), linear-gradient(0deg, #78C945 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;}

    .bodyDarkGreen {background-image: url(media/kkclear.png);
      background-color: #14A609;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position-y: bottom;   }

  .bodyGray {background-image: url(media/kkclear.png);
    background-color:#5F6163;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom; }

.bodyRed {background-image: url(media/kkclear.png);
  background-color: #870114;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;}

    .bodyBrown{background-image: url(media/kkclear.png);
      background-color: #381D0D;
      background-repeat: no-repeat;
      background-attachment: fixed;
          background-position-y: bottom;}

      .bodyOrange {
        background-image: url(media/kkclear.png);
        background-image: url(media/kkclear.png), linear-gradient(0deg, #E85A1F 0%, #ffffff 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom; }

      .bodyDarkBlue {   background-image: url(media/kkclear.png);
        background-color: #141F3A;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom; }

      .bodyPurple {   background-image: url(media/kkclear.png);
background-color: #562150;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom; }

      .bodyCerulean {background-image: url(media/kkclear.png);
        background-image: url(media/kkclear.png), linear-gradient(0deg, #149EBE 0%, rgba(255,255,255,1) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: bottom;
      }

      .bodySnow  {background-image: url(media/kk\ snow.jpg);
        background-color: #F3F3F3;       
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 500px;
        background-position-y: -800px;
      }

  
.left {float: left;}

.leftArrow {position: absolute;
color: rgb(189, 134, 82);
font-size: 4vw;
  left: 32%;
bottom: 215px;}

.leftArrow:hover, .rightArrow:hover {cursor: pointer;}


.pcSearchSong {position: relative;
  top: 270px}
 .right {float: right;}

.rightArrow {position: absolute;
  right: 32%;
  color: rgb(189, 134, 82);
  font-size: 4vw;
  bottom: 212px;}

  
.smallSearchSong .Songinfo img {max-height: 200px;
  max-width: 200px;
  border: 2px solid #5F6163;
  position: relative;
  bottom: 50px;
  }
  
  .smallSearchSong .Songinfo .songName {
    position: relative;
  bottom: 60px;}

  .smallSearchSong .container {
    min-width: 90%!important;} 



    .smallSearchSong {width: 100%;
      margin-top: 5%;
    margin-left: 0.2%;}


.smallSearchSong .songName {font-size: 30px;}

.smallSearchSong audio {max-width: 207px;
position: relative;
top: -8px;}


.smallFooter .footer {width: 98%;}

.smallFooter {position: relative;
top: -18%;}

       .Songinfo .songName {font-size: 40px;
        letter-spacing: 3px;
        white-space: nowrap;
        color: #faf0db;
        text-shadow: 1.5px 1.5px 0px #e4722b;
      position: relative;
    bottom: 45px;}

    .songName::selection {background-color: #ac6137;
      color: #ffffff;}
    
.Songinfo img {max-height: 260px;
max-width: 260px;
position: relative;
bottom: 40px;
border: 2px solid #5F6163;
}

.Songinfo audio {max-width: 262px;
position: relative;
bottom: 30px;}

.Songinfo .player {margin-bottom: 5px;}


.pcSearchSong button {position: absolute;
  height: 13%;
top: 395px;}

 .footer {background-color:rgba(247, 247, 247, 0.4);
width: 50%;
margin-left: auto;
margin-right: auto;}




/* Tablet */
    @media only  screen and (min-width: 501px) and (max-width: 1024px) { 
  audio {max-width: 224px;}

  .randomButton {position: absolute!important; top: 385px!important;}

  .footer {width: 100%;
  position: relative;
top: -60px;}

  .tabletFooter {position: absolute;
    bottom: -10%;
    width: 100%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
  }



  .searchSong {position: absolute;
  top: 32%;}
  .Songinfo img {max-height: 220px;
    max-width: 220px;
    border: 2px solid #5F6163;}

    .searchSong {width: 100%;}
    .songName {font-size: 26px; }
    
 .leftArrow {position: absolute;
      left: 30.5%;
      bottom: 188px;}

      .rightArrow {position: absolute;
        right: 30.5%;
        bottom: 188px;}
    
  }

/* Mobile */
  @media only screen and (max-width: 500px) {

    .leftArrow {position: absolute;
      left: 5.5%;
      font-size: 30pt;
      bottom: 280px;}
    
    .rightArrow {position: absolute;
        right: 5%;
        font-size: 30pt;
        bottom: 280px;}

    .container {width: 100%!important; z-index: -2; margin-top: 45%;}

    .randomButton {position: absolute!important; top: 545px!important;}

.player {position: relative; top: -30px;}
    }