
body {  background-image: url(media/kkclear.png);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;
  font-family: 'Short Stack', cursive;
  min-height: 800px;
  min-width: 1600px;
}

header {background-image: url(media/kk\ header.jpg);
  background-position-y: 350px;
  min-height: 300px;
min-width: 1700px;}

  header h1 {font-size: 50px;}
  
.app {  font-family: 'Short Stack', cursive;
  text-align: center;}

.bodyLtBlue {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(41deg, rgba(255,255,255,1) 0%, rgba(191,232,245,1) 50%, rgba(151,238,208,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;
  }

.bodyBlack {background-image: url(media/kkclear.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;
background-color: #000000;
color: #ffffff;}

.bodyYellow {
background-image: url(media/kkclear.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;
background-color: #FFFE1C;
}

.bodySepia {background-image: url(media/kkclear.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;
background-color: #CEAA75;}

.bodyPinktoWhite {background-image: url(media/kkclear.png);
  background-image: url(media/kkclear.png), linear-gradient(41deg, rgba(238,151,205,1) 0%, rgba(218,191,245,1) 50%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;}

  .bodyMagenta {background-image: url(media/kkclear.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -150px;
    background-position-y: bottom;
    background-color: #F0018E;
  }
  .bodyGreen {background-image: url(media/kkclear.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -150px;
    background-position-y: bottom;
  background-color: #78C945}

  .bodyGray {background-image: url(media/kkclear.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -150px;
    background-position-y: bottom;
    background-color: #5F6163;}

.bodyRed {background-image: url(media/kkclear.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -150px;
  background-position-y: bottom;
    background-color: #870114;}

    .bodyBrown{background-image: url(media/kkclear.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position-x: -150px;
      background-position-y: bottom;
      background-color: #381D0D; }

      .bodyOrange {
        background-image: url(media/kkclear.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: -150px;
        background-position-y: bottom;
        background-color: #E85A1F;
      }

      .bodyDarkBlue {   background-image: url(media/kkclear.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: -150px;
        background-position-y: bottom;
        background-color: #141F3A;
      }

      .bodyPurple {   background-image: url(media/kkclear.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: -150px;
        background-position-y: bottom;
        background-color: #562150;
      }
.Songinfo img {max-height: 300px;
max-width: 300px;
}
